/* start variables */
:root {
    --theme: #10cab7;
}

/* start of global rules*/
* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: " work sans", sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffff;


}

/*small screen*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium screen*/

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*large screen*/

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*end of global rules*/

/* start components*/
.special-head {
    font-size: 100px;
    color: #04093d49;
    text-align: center;
    font-weight: 800;
    text-transform: capitalize;
    letter-spacing: -6px;
}

.special-head+p {
    text-align: center;
    position: relative;
    bottom: 90px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;

}

@media (max-width:767px) {
    .special-head {
        font-size: 75px;
    }

    .special-head+p {
        font-size: 20px;
        bottom: 71px;
    }

    /* end of components */

}

/* start of header*/
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 75px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 50%;
    transition: 0.5s;
}

.header .links .icon span:last-child {
    height: 2px;
    width: 100%;

}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: rgb(209, 206, 206);
    top: calc(100% + 15px);
    min-width: 200px;
    display: none;
    transition: 0.5s;
    z-index: 1;
}

.header .links:hover ul {
    display: block;

}

.header .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent var(--theme) transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -20px;
    right: 5px;
}

.header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.5s;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: solid 1px;
}

/*end of header*/

/*start of landing*/

.landing {
    background-image: url(../images/6229893.jpg);
    background-size: cover;
    height: calc(100vh - 56px);
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.landing .text h1 {
    margin: 0px;
    color: var(--theme);
    font-size: 50px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin: 0px;
}

.landing .text p {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

/*end of landing*/

/*start of features*/

.features {
    background-color: aliceblue;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    padding: 20px;
    text-align: center;
    border: solid black 1px;
    border-radius: 3px;
}

.features .container .feat i {
    color: var(--theme);
    font-size: larger;
}

.features .container .feat h3 {
    font-weight: 800;

}

.features .container .feat p {
    line-height: 1.6;
}

/* end of features*/

/* start of services*/
.services {
    padding-bottom: 60px;
}

.services .container {
    display: block;
}

.services .services-content {
    display: flex;
}

.services .services-content .column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}

.services .services-content .serv1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width : 991px) {
    .services .services-content .serv1 {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv1 i {
    color: var(--theme);
    font-size: 20px;
    margin-top: 10px;
}

.services .services-content .serv1 .text1 {
    flex: 1;
}

.services .services-content .serv1 .text1 h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 20px;
}

.services .services-content .serv1 .text1 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    color: #777;
}

.services .services-content .column2 img {
    width: 100px;
    height: 436px;
    transform: translate(0px, -50px);
}

@media(max-width:1200px) {
    .services .services-content .column2 {
        display: none;
    }
}

/*end of services*/
/* start of portfolio */
.portfolio {
    margin-bottom: 60px;
    background-color: #f6f6f6;
}

.portfolio .container {
    display: block;
    background-color: rgb(247, 245, 245);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    text-align: center;

}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    height: 250px;
    text-align: center;
}

.portfolio .portfolio-content .card .text2 {
    padding: 30px;
}

.portfolio .portfolio-content .card .text2 h3 {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: capitalize;

}

.portfolio .portfolio-content .card .text2 p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
    color: #777;
    margin: 0;
}

/* end of portfolio */

/* start of about */
.about .container {
    display: block;
    z-index: 1;
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content img {
    max-width: 100%;
}

.about-content .images {
    position: relative;
    height: 250px;
    z-index: 2;
    max-width: 300px
}

.about .about-content .images::before {
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    background-color: #b1b1b1fc;
    width: 100px;
    top: -40px;
    z-index: -1;

}

.about .about-content .images::after {
    content: "";
    position: absolute;
    height: 245px;
    width: 120px;
    border-left: 80px solid var(--theme);
    border-bottom: 80px solid var(--theme);
    top: -110px;
    right: -156px;
    z-index: -1;
}

@media (max-width:767px) {

    .about .about-content .images::after,
    .about .about-content .images::before {
        display: none;
    }
}

.about .about-content .text3 {
    flex-basis: calc(100% - 500px);
    margin-top: -50px;
}

.about .about-content .text3 p:first-child {
    font-weight: 600;
    font-size: 20px;
    color: #04093ded;
}

.about .about-content .text3 hr {
    width: 50%;
    border-color: var(--theme);
    color: var(--theme);

}

.about .about-content .text3 p:last-child {
    font-weight: 600;
    font-size: 17px;
    color: #777;
}

@media(max-width:1200px) {
    .about .about-content .text3 {
        margin-top: 50px;
    }

    .about .about-content {
        flex-direction: column;
    }

    .about-content .images {
        margin: auto;
    }
}

/* end of about */
/*start of contact*/
.contact .container {
    display: block;
    z-index: 1;
}

.contact .contact-content {
    display: flex;
    flex-direction: column;
}

.contact .contact-content h4 {
    font-size: 45px;
    color: #333;
    font-weight: 800;
    margin-top: 0px;

}

.contact .contact-content>a {
    text-decoration: none;
    font-size: 30px;
    color: var(--theme);
    font-weight: 800;
    margin: auto;
}

@media (max-width:767px) {
    .contact .contact-content>a {
        font-size: 19px;
        margin: auto;
    }
}

.contact .contact-content .social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.contact .contact-content .social>a {
    color: var(--theme);
    font-size: 25px;
}

.contact .contact-content .social p {
    margin: 0;
    font-weight: 600;
}

@media(max-width:767px) {
    .contact .contact-content h4 {
        font-size: 35px;
    }
}

/*end of contact*/
.footer {
    background-color: #333;
    height: 80px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .mo {
    color: var(--theme);
    font-weight: 700;
}

.footer p {
    color: white;
}